* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #dcc5b1;
  color: #25130a;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  background-color: rgba(255,255,255,0.3); 
  backdrop-filter: blur(8px);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  flex-wrap: wrap;
  font-size: 17px;
}

.navbar-section {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #ffffff;
  flex-wrap: wrap;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  padding-bottom: 2px;
  position: relative;
  transition: color 0.3s;
  font-weight: bold;
  border: none;
}

.nav-link:hover {
  color: #b49862;
}

.nav-link.active {
  border-bottom: 2px solid #b49862;
  font-weight: bold;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  align-content: center;
}

.logo span {
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 4px;
  display: block;
  margin-top: 4px;
}

/* Navigation Links */
.navbar nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  font-size: 1em;
  transition: color 0.3s;
}

.navbar nav a:hover {
  color: #b49862;
}

.meet-btn {
  background-color: #fdefd2;
  color: black;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.meet-btn:hover {
  background-color: #b49862;
}

/* Hero Section */
.hero {
  width: 100%;
  overflow: hidden;
  margin-top: 0%;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 600px;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar-section {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .navbar-section.left-links,
  .navbar-section.right-links {
    gap: 10px;
    margin-bottom: 5px;
  }

  .logo {
    position: static;
    transform: none;
    margin: 10px 0;
  }

  .nav-link {
    font-size: 14px;
    margin: 5px;
  }

  .meet-btn {
    padding: 6px 12px;
    font-size: 14px;
  }

  .logo span {
    font-size: 0.6em;
  }
}
